# ***LEMBAR KERJA 1 STASTIKA DESKRIPTIF***
Nama: Shofwan Fikrul Huda

NIM: 24060124130106

Kelas: E
___

Secara umum statiska deskriptif Bertujuan untuk meringkas data (numeric or categorical)
dengan cara yang informatif, ringkas, dan jelas dalam
bentuk/representasi numerik atau grafis.

Pada lembar kerja ini akan berfokus pada *central tedency* yakni nilai *mean* dan *median*. Pertama, untuk mendapatkan datanya dan mengoperasikannya, kita akan import library pandas.

In [269]:
import pandas as pd    # untuk manipulasi data tabular

Setelah import library, kita akan mengambil data Latihan.csv

In [270]:
df=pd.DataFrame(pd.read_csv('Latihan.csv'))
df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

**1. Properti #1: Menambah atau mengurangi dengan suatu nilai konstanta untuk semua dataset**

Untuk menemukan properti pertama, kita akan mencari nilai mean (rata-rata) dan median (nilai
tengah) dari kumpulan data, lalu menambahkan (atau mengurangi) suatu nilai konstanta yang
sama untuk setiap baris dalam data, dan menemukan nilai rata-rata dan median yang baru.

Menghitung nilai *mean* dan *median* sebelum data dimodifikasi

In [271]:
stats_df = pd.DataFrame({
    'Mean': df.mean(),
    'Median': df.median()
})

stats_df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Menghitung nilai *mean* dan *median* setelah data dimodifikasi variabel ke-12
konstanta = 5.7

In [272]:
df_add = df * 1.0   # Merubah semua tipe data jadi float  
df_add.loc[12] += 5.7   # Mengubah nilai variabel ke-12 dari df_add dengan ditambahkan konstanta = 5.7
stats_df_add = pd.DataFrame({
    'Mean': df_add.mean(),
    'Median': df_add.median()
})

stats_df_add.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Penambahan konstanta pada variabel ke-12 dapat sedikit memengaruhi nilai mean, tetapi nilai median masih tetap.

**2. Properti #2: Mengalikan atau membagi dengan suatu nilai konstanta untuk semua dataset**

Mirip dengan properti pertama, apa yang akan terjadi ketika kita mengalikan atau membagi
semua data dengan suatu nilai konstanta.

Menghitung nilai *mean* dan *median* sebelum data dimodifikasi

In [273]:
stats_df = pd.DataFrame({
    'Mean': df.mean(),
    'Median': df.median()
})

stats_df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Menghitung nilai *mean* dan *median* setelah data dimodifikasi(mengali atau membagi)
konstanta = 2.7

In [274]:

df_mul = df * 1.0   # Merubah semua tipe data jadi float  
df_mul.loc[27] *= 2.7   # Mengubah nilai variabel ke-12 dari df_mul dengan dikalikan konstanta = 2.7

stats_df_mul = pd.DataFrame({
    'Mean': df_mul.mean(),
    'Median': df_mul.median()
})

stats_df_mul.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Mengalikan konstanta pada variabel ke-27 dapat memengaruhi nilai *mean* lumayan signifikan, bahkan nilai *median* Tipe 4 bergeser menjadi 4.

**3. Properti #3: Sensitif terhadap Outliers**

Gunakan data yang sama, apa yang akan terjadi jika kita terdapat siswa baru super genius dimana
untuk setiap tipe ujian selalu mendapatkan poin maksimal yakni 1000.

Menghitung nilai *mean* dan *median* sebelum data dimodifikasi

In [275]:
stats_df = pd.DataFrame({
    'Mean': df.mean(),
    'Median': df.median()
})

stats_df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Menghitung nilai *mean* dan *median* setelah data dimodifikasi dengan menambah anomali/*outlier*.

In [276]:
df_outl = df
df_outl.loc[len(df_outl)] = {'Tipe1':876, 'Tipe2':987, 'Tipe3':999, 'Tipe4':1000}
stats_df_outl = pd.DataFrame({
    'Mean': df_outl.mean(),
    'Median': df_outl.median()
})

stats_df_outl.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Penambahan anomali dalam data tersebut menimbulkan perubahan *mean* yang sangat signifikan berkisar 3 hingga 6 kali lipat dan dapat merubah *median* tipe 4 dari 3,5 ke 4.