# ***LEMBAR KERJA 1 STASTIKA DESKRIPTIF***
Nama: Shofwan Fikrul Huda

NIM: 24060124130106

Kelas: E
___

Secara umum statiska deskriptif Bertujuan untuk meringkas data (numeric or categorical)
dengan cara yang informatif, ringkas, dan jelas dalam
bentuk/representasi numerik atau grafis.

Pada lembar kerja ini akan berfokus pada *central tedency* yakni nilai *mean* dan *median*. Pertama, untuk mendapatkan datanya dan mengoperasikannya, kita akan import library pandas.

In [228]:
import pandas as pd    # untuk manipulasi data tabular

Setelah import library, kita akan mengambil data Latihan.csv

In [229]:
df=pd.DataFrame(pd.read_csv('Latihan.csv'))
print(df)

    Tipe1  Tipe2  Tipe3  Tipe4
0       5      5      4      2
1       5      3      2      3
2       5      4      2      3
3       5      3      2      2
4       4      3      2      4
5      15      8     12      8
6       5      3      6      2
7      15      7      2      6
8       3      5     10      5
9       3      5     10      4
10      7      4      2      2
11      6      3      2      4
12      5      5     15      3
13     12      6      2      2
14      7      4      2      2
15      5      3      2      6
16     15      6      4      3
17     10      8      5      6
18      3     15      8      6
19      7      4      2      2
20      4      5      2      6
21     10      5      7      3
22     15      5      6      7
23     10     15      5      4
24      9      5      4      4
25      7      4      2      4
26      5      3      2      1
27      8      6      6      2
28      7      3      7      1
29      3      5      8      5
30      7      3      4      4
31      5     13      5      4
32      3      3      2      2
33      7     10     12      7
34      9      6      5      2
35      8     12     15      6
36      6      3      2      2
37      7      3      2      3
38     10      4      3      8
39     12      5     10      5
40     10      3      2      2
41     15     10      6      4
42      6      3      8      1
43      4      2      1      6
44      3     14     15      3
45      2      3      2      2
46      5      3      2      2
47      6      5      3      5
48      4      4      6      2
49     10      3      7      2
50     20     10     12      4
51      6      3      2      1
52     15     10      8      2
53      4     20     12      5
54     15      6      5      4
55     20      5      3      6

**1. Properti #1: Menambah atau mengurangi dengan suatu nilai konstanta untuk semua dataset**

Untuk menemukan properti pertama, kita akan mencari nilai mean (rata-rata) dan median (nilai
tengah) dari kumpulan data, lalu menambahkan (atau mengurangi) suatu nilai konstanta yang
sama untuk setiap baris dalam data, dan menemukan nilai rata-rata dan median yang baru.

Menghitung nilai *mean* dan *median* sebelum data dimodifikasi

In [230]:
stats_df = pd.DataFrame({
    'Mean': df.mean(),
    'Median': df.median()
})

stats_df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Menghitung nilai *mean* dan *median* setelah data dimodifikasi variabel ke-12
konstanta = 5.7

In [231]:
df_add = df  
df_add.loc[12] += 5.7   # Mengubah nilai variabel ke-12 dari df_add dengan ditambahkan konstanta = 5.7
stats_df_add = pd.DataFrame({
    'Mean': df_add.mean(),
    'Median': df_add.median()
})

stats_df_add.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

C:\Users\Fikrul Huda\AppData\Local\Temp\ipykernel_19400\2185555002.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add.loc[12] += 5.7   # Mengubah nilai variabel ke-12 dari df_add dengan ditambahkan konstanta = 5.7
C:\Users\Fikrul Huda\AppData\Local\Temp\ipykernel_19400\2185555002.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add.loc[12] += 5.7   # Mengubah nilai variabel ke-12 dari df_add dengan ditambahkan konstanta = 5.7
C:\Users\Fikrul Huda\AppData\Local\Temp\ipykernel_19400\2185555002.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '20.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add.loc[12] += 5.7   # Mengubah nilai variabel ke-12 dari df_add dengan ditambahkan konstanta = 5.7
C:\Users\Fikrul Huda\AppData\Local\Temp\ipykernel_19400\2185555002.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '8.7' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_add.loc[12] += 5.7   # Mengubah nilai variabel ke-12 dari df_add dengan ditambahkan konstanta = 5.7

Penambahan konstanta pada variabel ke-12 dapat sedikit memengaruhi nilai mean, tetapi nilai median masih tetap.

**2. Properti #2: Mengalikan atau membagi dengan suatu nilai konstanta untuk semua dataset**

Mirip dengan properti pertama, apa yang akan terjadi ketika kita mengalikan atau membagi
semua data dengan suatu nilai konstanta.

Menghitung nilai *mean* dan *median* sebelum data dimodifikasi

In [232]:
stats_df = pd.DataFrame({
    'Mean': df.mean(),
    'Median': df.median()
})

stats_df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Menghitung nilai *mean* dan *median* setelah data dimodifikasi(mengali atau membagi)
konstanta = 2.7

In [233]:

df_mul = df
df_mul.loc[27] += 2.7   # Mengubah nilai variabel ke-12 dari df_mul dengan dikalikan konstanta = 2.7

stats_df_mul = pd.DataFrame({
    'Mean': df_mul.mean(),
    'Median': df_mul.median()
})

stats_df_mul.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Mengalikan konstanta pada variabel ke-27 dapat memengaruhi nilai *mean* lumayan signifikan, bahkan nilai *median* bergeser menjadi 4.

**3. Properti #3: Sensitif terhadap Outliers**

Gunakan data yang sama, apa yang akan terjadi jika kita terdapat siswa baru super genius dimana
untuk setiap tipe ujian selalu mendapatkan poin maksimal yakni 1000.

Menghitung nilai *mean* dan *median* sebelum data dimodifikasi

In [234]:
stats_df = pd.DataFrame({
    'Mean': df.mean(),
    'Median': df.median()
})

stats_df.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Menghitung nilai *mean* dan *median* setelah data dimodifikasi dengan menambah anomali/*outlier*.

In [235]:
df_outl = df
df_outl.loc[len(df_outl)] = {'Tipe1':876, 'Tipe2':987, 'Tipe3':999, 'Tipe4':1000}
stats_df_outl = pd.DataFrame({
    'Mean': df_outl.mean(),
    'Median': df_outl.median()
})

stats_df_outl.style.set_table_styles([
    {'selector': 'td, th', 'props': [('border', '1px solid black')]},
    {'selector': 'table', 'props': [('border-collapse', 'collapse')]}
])

Penambahan anomali dalam data tersebut menimbulkan perubahan *mean* yang sangat signifikan berkisar 3 hingga 6 kali lipat dan dapat merubah median dari 3,5 ke 4.